@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}

#fieldSection {
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
}

#fieldSection::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar track */
  }
  
  /* Style the scrollbar thumb (the draggable part) */
  #fieldSection::-webkit-scrollbar-thumb {
    background: #888; /* Color of the thumb */
    border-radius: 5px; /* Rounded corners for the thumb */
  }
  
  /* Style the scrollbar track when the thumb is being hovered */
  #fieldSection::-webkit-scrollbar-thumb:hover {
    background: #555;
  }